asgiref==3.8.1
certifi==2024.2.2
channels==4.1.0
charset-normalizer==3.3.2
Django==5.0.4
djangorestframework==3.15.1
gitdb==4.0.11
GitPython==3.1.41
idna==3.7
requests==2.31.0
setuptools==69.0.3
smmap==5.0.1
sqlparse==0.5.0
urllib3==2.2.1
wheel==0.43.0
